@media(max-width:2500px){
  .sidenav{
    margin-left: 89.2%;
  }
  .ket1{
    margin-left: 10%;
  }
  .ket2{
    margin-left: 14%;
  }
  .ket3{
    margin-left: 13.5%;
  }
  .ket4{
    margin-left: 15.2%;
  }
  .ket5{
    margin-left: 16.5%;
  }
}
@media(max-width:1822px){
  .sidenav{
    margin-left: 88.7%;
  }
  }
  @media(max-width:1754px){
  .sidenav{
    margin-left: 88.3%;
  }
  }
  @media(max-width:1675px){
  .sidenav{
    margin-left: 87.9%;
  }
  .ket5{
    margin-left: 16.5%;
  }
}
 @media(max-width:1630px){
  .sidenav{
    margin-left: 87.4%;
  }
  .ket1{
    margin-left: 9%;
  }
  .ket2{
    margin-left: 15%;
  }
  .ket3{
    margin-left: 13.5%;
  }
  .ket4{
    margin-left: 15.7%;
  }
  .ket5{
    margin-left: 16.5%;
  }
}
@media(max-width:1555px){
  .sidenav{
    margin-left: 87%;
  }
  }
  @media(max-width:1522px){
  .sidenav{
    margin-left: 86.5%;
  }
  .ket5{
    margin-left: 17.2%;
  }
  }
 @media(max-width:1460px){
  .sidenav{
    margin-left: 85.9%;
  }
  .ket1{
    margin-left: 8.4%;
  }
  .ket2{
    margin-left: 15%;
  }
  .ket3{
    margin-left: 13.5%;
  }
  .ket4{
    margin-left: 17.3%;
  }
  .ket5{
    margin-left: 16.8%;
  }
}
 @media(max-width:1400px){
  .sidenav{
    margin-left: 85.3%;
  }
  .ket1{
    margin-left: 8%;
  }
  .ket5{
    margin-left: 17.5%;
  }
}
 @media(max-width:1340px){
  .sidenav{
    margin-left: 84.8%;
  }
  .ket1{
    margin-left: 7.5%;
  }
  .ket5{
    margin-left: 18%;
  }
  .ket3{
    margin-left: 15%;
  }
}
@media(max-width:1300px){
  .sidenav{
    margin-left: 84.2%;
  }
  }
   @media(max-width:1240px){
  .sidenav{
    margin-left: 83.6%;
  }
  .ket1{
    margin-left: 6.5%;
  }
  .ket5{
    margin-left: 18%;
  }
  .ket2{
    margin-left: 16.5%;
  }
}
   @media(max-width:1210px){
  .sidenav{
    margin-left: 83%;
  }
}
   @media(max-width:1200px){
  .sidenav{
    margin-left: 83%;
  }
  .ket1{
    margin-left: 6%;
  }
  .ket5{
    margin-left: 19.5%;
  }
  
}
   @media(max-width:1160px){
  .sidenav{
    margin-left: 82.4%;
  }
  .ket2{
    margin-left: 10.5%;
  }
   .ket3{
    margin-left: 10%;
  }
  .ket4{
    margin-left: 12.7%;
  }
   .ket5{
    margin-left: 12.8%;
  }

.aaa2 {
    margin-left: 4%;
}
.aaa3 {
    margin-left: 5%;
}
.aaa4 {
    margin-left:4%;
}
.aaa5 {
    margin-left: 4%;
}
}

   @media(max-width:1115px){
    .imglogo{
      margin-left: 40px;
    }
  .sidenav{
    margin-left: 81.8%;
  }
  .ket1{
    margin-left: 11%;
  }
   .ket3{
    margin-left: 10.5%;
  }
   .ket5{
    margin-left: 13%;
  }
}

   @media(max-width:1080px){
  .sidenav{
    margin-left: 81.2%;
  }
   .ket5{
    margin-left: 14%;
  }
}

   @media(max-width:1050px){
  .sidenav{
    margin-left: 80.6%;
  }
  .ket1{
    margin-left: 10%;
  }
   .ket2{
    margin-left: 11.5%;
  }
   .ket4{
    margin-left: 14%;
  }
   .ket5{
    margin-left: 13.5%;
  }
  .yuki{
    font-size: 100px;
  }
  .yfa{
    width: 654px;
  }
}
   @media(max-width:1010px){
  .sidenav{
    margin-left: 79.8%;
  }
   .ket5{
    margin-left: 14.5%;
  }
}
   @media(max-width:970px){
  .sidenav{
    margin-left: 79%;
  }
   .ket5{
    margin-left: 15.5%;
  }
}
   @media(max-width:935px){
  .sidenav{
    margin-left: 78.2%;
  }
   .ket3{
    margin-left: 12%;
  }
}
   @media(max-width:895px){
  .sidenav{
    margin-left: 77.2%;
  }
   .ket3{
    margin-left: 13%;
  }
}
   @media(max-width:860px){
  .sidenav{
    margin-left: 76.2%;
  }
   .ket4{
    margin-left: 15%;
  }
}
   @media(max-width:825px){
  .sidenav{
    margin-left: 75.2%;
  }
   .ket1{
    margin-left: 8%;
  }
  .ket2{
    margin-left: 13.5%;
  }
   .ket5{
    margin-left: 16.5%;
  } 
  .ket3{
    margin-left: 12.5%;
  }

  .ket4{
    margin-left: 16%;
  }
}
  @media(max-width:800px){
  .sidenav{
    margin-left: 74.5%;
  }
   .ket5{
    margin-left: 17.5%;
  }
}

  @media(max-width:780px){
 .wh{
  width: 180px;
 }
 .wwhidden{
  width: 540px
 }
}

  @media(max-width:770px){
  .sidenav{
    margin-left: 73.5%;
  }
   .ket5{
    margin-left: 19%;
  }
  .yuki{
    font-size: 90px;
  }
  .yfa{
    width: 588px;
  }
  .feder{
    margin-left: 0px;
    font-size: 15px;
  }
  .yukitext{
    font-size: 18px;
  }
  .federation{
    width: 193px;
  }
  .yukiinto{
    width: 451px;
  }
  .joinus{
    width: 165px;
    font-size: 15px;
    margin-left: 150px;
  }
}
@media(max-width:750px){
   .ket1, .ket2, .ket3, .ket4, .ket5, .line, .qwer {
    display: none;
  }
  .dropdown {
  display: block;
  }
   .sidenav{
    margin-left: 72.7%;
  }.fixed {
  position:absolute;
}
  .rightmenu1, .rightmenu2, .rightmenu3, .rightmenu4, .rightmenu5{
    display: none;
  }

}
  @media(max-width:725px){
  .sidenav{
    margin-left: 72%;
  }
  
}
 @media(max-width:700px){
  .sidenav{
    margin-left: 71.2%;
  }

}
 @media(max-width:680px){
  .dropdown {
    margin-left: 93.7%;
}
  .sidenav{
    margin-left: 70.4%;
  }
  .yuki{
    font-size: 70px;
  }
  .yfa{
    width: 458px;
  }
  .feder{
    margin-left: 0px;
    font-size: 15px;
    margin-top: 5px;
  }
  .federation{
    width: 193px;
  }
  .yukitext{
    font-size: 16px;
    font-weight: 900;
  }
  .yukiinto{
    width: 299px;
  }
  .joinus{
    width: 120px;
    font-size: 13px;
    margin-left: 90px;
  }
}
 @media(max-width:660px){
  .sidenav{
    margin-left: 69.5%;
  }

}
 @media(max-width:640px){
  .sidenav{
    margin-left: 68.5%;
  }

}
 @media(max-width:620px){
  .sidenav{
    margin-left: 67.5%;
  }

}

 @media(max-width:600px){
  .sidenav{
    margin-left: 66.5%;
     } 
     .dropdown {
    margin-left: 93%;

  }

}
 @media(max-width:585px){
  .sidenav{
    margin-left: 65.5%;
  }

}
 @media(max-width:570px){
  .sidenav{
    margin-left: 64.5%;
  }

}
 @media(max-width:555px){
  .sidenav{
    margin-left: 63.5%;
  }

}
@media(max-width:540px){
  .dropdown {
    margin-left: 92%;
}
  .sidenav{
    margin-left: 62.5%;
  }
  .yuki{
    font-size: 60px;
  }
  .yfa{
    width: 392px;
  }
}
 @media(max-width:525px){
  .sidenav{
    margin-left: 61%;
     } 
     .dropdown {
    margin-left: 91.7%;

  }

}
 @media(max-width:500px){
  .sidenav{
    margin-left: 59.5%;
     } 
     .dropdown {
    margin-left: 91.7%;

  }

}
@media(max-width:485px){
  .dropdown {
    margin-left: 91%;
}
  .sidenav{
    margin-left: 58%;
  }
  .yuki{
    font-size: 50px;
  }
  .yfa{
    width: 327px;
  }
}
 @media(max-width:470px){
  .sidenav{
    margin-left: 57%;
     } 
     .dropdown {
    margin-left: 90.7%;

  }
}
   @media(max-width:455px){
  .sidenav{
    margin-left: 55.5%;
     } 
     .dropdown {
    margin-left: 90.7%;

  }
  .imglogo {
    width: 65px;
    height: 60px;
    margin-top: 3%;
    margin-left: 3%;
}
  }
   @media(max-width:440px){
  .sidenav{
    margin-left: 53.7%;
     } 
     .dropdown {
    margin-left: 90%;

  }
}
   @media(max-width:425px){
  .sidenav{
    margin-left: 52%;
     } 
     .dropdown {
    margin-left: 89.5%;

  }
   .yuki{
    font-size: 45px;
  }
  .yfa{
    width: 294px;
  }
}
   @media(max-width:410px){
  .sidenav{
    margin-left: 50%;
     } 
     .dropdown {
    margin-left: 89%;

  }
}
   @media(max-width:395px){
  .sidenav{
    margin-left: 48%;
     } 
     .dropdown {
    margin-left: 89%;

  }
    .yuki{
    font-size: 42px;
  }
  .yfa{
    width: 275px;
  }
}
   @media(max-width:375px){
  .sidenav{
    margin-left: 46%;
     } 
     .dropdown {
    margin-left: 88.5%;

  }
}
@media(max-width:1515px){
  .sevan{
    width: 11%;
    margin-left: 140px;
  }
  .owl{
    width: 13%;
  }
  .yell{
    width: 5%;
  }
  .startup{
    width: 13%;
  }
  .sky{
    width: 7%;
  }
  .insport{
    width: 13%;
  }
  .aparan{
    width: 5%;
  }
}

@media(max-width:1180px){
.part {
    margin-top: 20vh;
}
.sevan {
    margin-left: 70px;
}
}
@media(max-width:1120px){
.gsp, .hsp, .partp  {
    font-size: 40px;
}
.partp{
  width: 150px;
}
.nova, .para{
    margin-left: 90px;
}
.sevan {
    margin-left: 75px;
}

}

@media(max-width:990px){

.sevan{
  margin-left:22%;
}
.sky{
  margin-left:32%;
}
.sevan{
    width: 12%;
  }
  .owl{
    width: 14%;
  }
  .yell{
    width: 6%;
  }
  .startup{
    width: 14%;
  }
  .sky{
    width: 8%;
  }
  .insport{
    width: 14%;
  }
  .aparan{
    width: 6%;
  }
}
@media(max-width:970px){
.gsp, .hsp, .partp  {
    font-size: 30px;
}
.partp {
    width: 112px;
}
}

@media(max-width:715px){
.partimg {
    margin-top: 15px;
}
.part {
    margin-top: 310px;
        margin-top: 50vh;
}
.sevan{
  margin-left:16%;
}
.sky{
  margin-left:28%;
}
.sevan{
    width: 14%;
  }
  .owl{
    width: 16%;
  }
  .yell{
    width: 8%;
  }
  .startup{
    width: 16%;
  }
  .sky{
    width: 10%;
  }
  .insport{
    width: 16%;
  }
  .aparan{
    width: 8%;
  }
}
@media(max-width:550px){

.partimg {
    margin-top: 15px;
}
.part {
    margin-top: 310px;
    margin-top: 50vh;
}
.sevan{
  margin-left:12%;
}
.sky{
  margin-left:26%;
}
.sevan{
    width: 16%;
  }
  .owl{
    width: 17%;
  }
  .yell{
    width: 9%;
  }
  .startup{
    width: 17%;
  }
  .sky{
    width: 11%;
  }
  .insport{
    width: 17%;
  }
  .aparan{
    width: 9%;
  }
}

@media(max-width:480px){

.sevan{
    width: 16%;
    margin-left:8%;
  }
  .sky{
    width: 11%;
    margin-left:24%;
  }
}
@media(max-width:440px){

.sevan{
    width: 16%;
    margin-left:20%;
  }
  .sky{
    width: 11%;
    margin-left:24%;
  }
  .startup {
    width: 17%;
    margin-left: 43%;
}
}
@media(max-width:390px){

.sevan{
    width: 18%;
    margin-left:15%;
  }
  .sky{
    width: 13%;
    margin-left:20%;
  }
  .startup {
    width: 19%;
    margin-left: 41%;
}
  .owl{
    width: 19%;
  }
  .yell{
    width: 11%;
  }
  .insport{
    width: 19%;
  }
  .aparan{
    width: 11%;
  }
}
@media(max-width:355px){
  .gsp, .hsp, .partp {
    font-size: 23px;
}
.partp {
    width: 86px;
}
.pl {
    margin-top: 160px;
}

.sidenav{
    margin-left:42%;
     }
}

  @media(max-width:340px){
 .sidenav{
    margin-left: 40%;
     }
  }
    @media(max-width:320px){
 .sidenav{
    margin-left: 38%;
     }
  }

      @media(max-width:2000px){
        .ket5{
              margin-left: 15.5%;
        }

  }
     @media(max-width:1730px){
        .ket5{
              margin-left: 16%;
        }

  }
       @media(max-width:1670px){
        .ket5{
              margin-left:17%;
        }

  }
        @media(max-width:1530px){
        .ket5{
              margin-left:17.5%;
        }

  }
         @media(max-width:1370px){
        .ket5{
              margin-left:18%;
        }

  }
         @media(max-width:1230px){
        .ket5{
              margin-left:18.5%;
        }

  }
           @media(max-width:1160px){
        .ket5{
              margin-left:13%;
        }

  }
           @media(max-width:1060px){
        .ket5{
              margin-left:14.5%;
        }

  }
             @media(max-width:960px){
        .ket5{
              margin-left:16%;
        }

  }
             @media(max-width:780px){
        .ket5{
              margin-left:19%;
        }

  }



@media(max-width:1750px){
.usamap{
  margin-left: -75%;
  margin-top: 14.5%;
}
.canmap{
  margin-left: -69%;
  margin-top: 6.5%;
}
.rusmap{
  margin-left: -22%;
  margin-top: 6.5%;
}
.aumap{
  margin-left: -5%;
  margin-top: 34%;
}
.japmap{
  margin-left: -8%;
  margin-top: 17%;
}
.armmap{
  margin-left: -33%;
  margin-top: 18%;
}
.thmap{
  margin-left: -23%;
  margin-top: 25%;
}
.chmap{
  margin-left: -11%;
  margin-top: 13.5%;
}
.belmap{
  margin-left: -47%;
  margin-top: 12.8%;
}
.netmap{
  margin-left: -50.2%;
  margin-top: 15%;
}
.slomap{
  margin-left: -41%;
  margin-top: 13%;
}
.normap{
  margin-left: -45%;
  margin-top: 8.5%;
}
.finmap{
  margin-left: -37%;
  margin-top: 7.8%;
}
.swemap{
  margin-left: -41%;
  margin-top: 7%;
}

}


@media(max-width:1600px){
.usamap{
  margin-left: -75%;
  margin-top: 15%;
}
.canmap{
  margin-left: -69%;
  margin-top: 7%;
}
.rusmap{
  margin-left: -22%;
  margin-top: 7.5%;
}
.aumap{
  margin-left: -5%;
  margin-top: 35%;
}
.japmap{
  margin-left: -8%;
  margin-top: 18%;
}
.armmap{
  margin-left: -33%;
  margin-top: 19%;
}
.thmap{
  margin-left: -24%;
  margin-top: 26%;
}
.chmap{
  margin-left: -11%;
  margin-top: 14.3%;
}
.belmap{
  margin-left: -47%;
  margin-top: 13.3%;
}
.netmap{
  margin-left: -50.2%;
  margin-top: 15.5%;
}
.slomap{
  margin-left: -41%;
  margin-top: 13.7%;
}
.normap{
  margin-left: -45%;
  margin-top: 9%;
}
.finmap{
  margin-left: -37%;
  margin-top: 8.5%;
}
.swemap{
  margin-left: -41%;
  margin-top: 7.7%;
}

}
@media(max-width:1450px){
  .wwww{
  font-size: 17px;
}
.usamap{
  margin-left: -76%;
  margin-top: 16%;
}
.canmap{
  margin-left: -71%;
  margin-top: 8%;
}
.rusmap{
  margin-left: -21%;
  margin-top: 7.7%;
}
.aumap{
  margin-left: -4%;
  margin-top: 36%;
}
.japmap{
  margin-left: -8%;
  margin-top: 18%;
}
.armmap{
  margin-left: -33%;
  margin-top: 19%;
}
.thmap{
  margin-left: -24%;
  margin-top: 26.5%;
}
.chmap{
  margin-left: -10.5%;
  margin-top: 15%;
}
.belmap{
  margin-left: -47%;
  margin-top: 14%;
}
.netmap{
  margin-left: -50.2%;
  margin-top: 16.2%;
}
.slomap{
  margin-left: -41%;
  margin-top: 14.3%;
}
.normap{
  margin-left: -46%;
  margin-top: 10%;
}
.finmap{
  margin-left: -36.7%;
  margin-top: 9%;
}
.swemap{
  margin-left: -42%;
  margin-top: 8.5%;
}

}
@media(max-width:1400px){
  .wwww{
  font-size: 17px;
}
.usamap{
  margin-left: -76.5%;
  margin-top: 17%;
}
.canmap{
  margin-left: -71.5%;
  margin-top: 8.5%;
}
.rusmap{
  margin-left: -21%;
  margin-top:8%;
}
.aumap{
  margin-left: -4%;
  margin-top: 37%;
}
.japmap{
  margin-left: -8%;
  margin-top: 18.5%;
}
.armmap{
  margin-left: -33%;
  margin-top: 19.3%;
}
.thmap{
  margin-left: -24%;
  margin-top: 26.5%;
}
.chmap{
  margin-left: -10.5%;
  margin-top: 15.5%;
}
.belmap{
  margin-left: -47%;
  margin-top: 14.2%;
}
.netmap{
  margin-left: -50.2%;
  margin-top: 16.5%;
}
.slomap{
  margin-left: -41.5%;
  margin-top: 14.5%;
}
.normap{
  margin-left: -46%;
  margin-top: 10.5%;
}
.finmap{
  margin-left: -36.7%;
  margin-top: 9.2%;
}
.swemap{
  margin-left: -42%;
  margin-top: 8.7%;
}

}
@media(max-width:1350px){
  .wwww{
  font-size: 15px;
}
.wwmap {
    width: 80%;
    margin-left: 10%;
    margin-top: 180px;
}
.usamap{
  margin-left: -76.5%;
  margin-top: 23%;
}
.canmap{
  margin-left: -71.5%;
  margin-top: 14.5%;
}
.rusmap{
  margin-left: -21%;
  margin-top:14%;
}
.aumap{
  margin-left: -4%;
  margin-top: 43%;
}
.japmap{
  margin-left: -8%;
  margin-top: 24.5%;
}
.armmap{
  margin-left: -33%;
  margin-top: 25.5%;
}
.thmap{
  margin-left: -24%;
  margin-top: 32.5%;
}
.chmap{
  margin-left: -10.5%;
  margin-top: 22%;
}
.belmap{
  margin-left: -47%;
  margin-top: 20.2%;
}
.netmap{
  margin-left: -50.2%;
  margin-top: 22.5%;
}
.slomap{
  margin-left: -41.5%;
  margin-top: 20.5%;
}
.normap{
  margin-left: -46%;
  margin-top: 16.5%;
}
.finmap{
  margin-left: -36.7%;
  margin-top: 15.5%;
}
.swemap{
  margin-left: -42%;
  margin-top: 14.7%;
}

}
@media(max-width:1300px){
  .wwww{
  font-size: 15px;
}
.wwmap {
    width: 80%;
    margin-left: 10%;
    margin-top: 180px;
}
.usamap{
  margin-left: -76.5%;
  margin-top: 24%;
}
.canmap{
  margin-left: -71.5%;
  margin-top: 15.5%;
}
.rusmap{
  margin-left: -21%;
  margin-top:15%;
}
.aumap{
  margin-left: -4%;
  margin-top: 44%;
}
.japmap{
  margin-left: -8%;
  margin-top: 25.5%;
}
.armmap{
  margin-left: -33%;
  margin-top: 26.2%;
}
.thmap{
  margin-left: -24%;
  margin-top: 33.5%;
}
.chmap{
  margin-left: -10.5%;
  margin-top: 22.5%;
}
.belmap{
  margin-left: -47%;
  margin-top: 20.9%;
}
.netmap{
  margin-left: -50.2%;
  margin-top: 23.5%;
}
.slomap{
  margin-left: -41.5%;
  margin-top: 21.2%;
}
.normap{
  margin-left: -46%;
  margin-top: 17.5%;
}
.finmap{
  margin-left: -36.7%;
  margin-top: 16%;
}
.swemap{
  margin-left: -42%;
  margin-top: 15.3%;
}

}
@media(max-width:1250px){
.slomap{
  margin-left: -41.5%;
  margin-top: 21.7%;
}
}
@media(max-width:1200px){
  .wwww{
  font-size: 14px;
}
.wwmap {
    width: 80%;
    margin-left: 10%;
    margin-top: 180px;
}
.usamap{
  margin-left: -76.5%;
  margin-top: 26%;
}
.canmap{
  margin-left: -71.5%;
  margin-top: 16.5%;
}
.rusmap{
  margin-left: -21%;
  margin-top:16%;
}
.aumap{
  margin-left: -4%;
  margin-top: 45%;
}
.japmap{
  margin-left: -8%;
  margin-top: 26.5%;
}
.armmap{
  margin-left: -33%;
  margin-top: 27.2%;
}
.thmap{
  margin-left: -24%;
  margin-top: 34.5%;
}
.chmap{
  margin-left: -10.5%;
  margin-top: 23.5%;
}
.belmap{
  margin-left: -47%;
  margin-top: 21.9%;
}
.netmap{
  margin-left: -50.2%;
  margin-top: 24.5%;
}
.slomap{
  margin-left: -41.5%;
  margin-top: 22.2%;
}
.normap{
  margin-left: -46%;
  margin-top: 18.5%;
}
.finmap{
  margin-left: -36.7%;
  margin-top: 17%;
}
.swemap{
  margin-left: -42%;
  margin-top: 16.3%;
}

}
@media(max-width:1175px){
.slomap{
  margin-left: -41.5%;
  margin-top: 22.7%;
}
}
@media(max-width:1130px){
  .wwww{
  font-size: 14px;
}
.wwmap {
    width: 80%;
    margin-left: 10%;
    margin-top: 180px;
}
.usamap{
  margin-left: -76.5%;
  margin-top: 27%;
}
.canmap{
  margin-left: -71.5%;
  margin-top: 17.5%;
}
.rusmap{
  margin-left: -21%;
  margin-top:17%;
}
.aumap{
  margin-left: -4%;
  margin-top: 46%;
}
.japmap{
  margin-left: -8%;
  margin-top: 27.5%;
}
.armmap{
  margin-left: -33%;
  margin-top: 28.2%;
}
.thmap{
  margin-left: -24%;
  margin-top: 35.5%;
}
.chmap{
  margin-left: -10.5%;
  margin-top: 24.5%;
}
.belmap{
  margin-left: -47%;
  margin-top: 22.9%;
}
.netmap{
  margin-left: -50.2%;
  margin-top: 25.5%;
}
.slomap{
  margin-left: -41.5%;
  margin-top: 23.3%;
}
.normap{
  margin-left: -46%;
  margin-top: 19%;
}
.finmap{
  margin-left: -36.7%;
  margin-top: 18%;
}
.swemap{
  margin-left: -42%;
  margin-top: 17.3%;
}

}
@media(max-width:1100px){
.slomap{
  margin-left: -41.5%;
  margin-top: 23.8%;
}
}
@media(max-width:1070px){
  .wwww{
  font-size: 14px;
}
.wwmap {
    width: 80%;
    margin-left: 10%;
    margin-top: 180px;
}
.usamap{
  margin-left: -76.5%;
  margin-top: 27%;
}
.canmap{
  margin-left: -71.5%;
  margin-top: 18.5%;
}
.rusmap{
  margin-left: -21%;
  margin-top:17.5%;
}
.aumap{
  margin-left: -4%;
  margin-top: 47%;
}
.japmap{
  margin-left: -8%;
  margin-top: 28.5%;
}
.armmap{
  margin-left: -33%;
  margin-top: 29%;
}
.thmap{
  margin-left: -25%;
  margin-top: 36%;
}
.chmap{
  margin-left: -10.5%;
  margin-top: 25%;
}
.belmap{
  margin-left: -47%;
  margin-top: 23.5%;
}
.netmap{
  margin-left: -50.2%;
  margin-top: 26.5%;
}
.slomap{
  margin-left: -41.5%;
  margin-top: 24.2%;
}
.normap{
  margin-left: -46%;
  margin-top: 19.5%;
}
.finmap{
  margin-left: -36.7%;
  margin-top: 18.5%;
}
.swemap{
  margin-left: -42%;
  margin-top: 18%;
}

}
@media(max-width:1025px){
  .wwww{
  font-size: 14px;
}
.wwmap {
    width: 80%;
    margin-left: 10%;
    margin-top: 180px;
}
.usamap{
  margin-left: -77%;
  margin-top: 27.5%;
}
.canmap{
  margin-left: -72%;
  margin-top: 19%;
}
.rusmap{
  margin-left: -21%;
  margin-top:18.2%;
}
.aumap{
  margin-left: -4%;
  margin-top: 47%;
}
.japmap{
  margin-left: -8%;
  margin-top: 29%;
}
.armmap{
  margin-left: -33%;
  margin-top: 29.7%;
}
.thmap{
  margin-left: -25%;
  margin-top: 37%;
}
.chmap{
  margin-left: -10.5%;
  margin-top: 26%;
}
.belmap{
  margin-left: -48%;
  margin-top: 24.5%;
}
.netmap{
  margin-left: -50.2%;
  margin-top: 27.5%;
}
.slomap{
  margin-left: -42%;
  margin-top: 24.7%;
}
.normap{
  margin-left: -46.5%;
  margin-top: 20.5%;
}
.finmap{
  margin-left: -36.7%;
  margin-top: 19.3%;
}
.swemap{
  margin-left: -42.5%;
  margin-top: 18.7%;
}

}
@media(max-width:1000px){
  .wwmap, .wwww{
    display: none;
  }
  .wwhidden{
    display: block;
  }
  .ww{
    height:700px;
  }
  .wwdiv{
    margin: 0 auto;
  }

}
@media(max-width:550px){
  .wwhidden{
    display: none;
  }
  .wwhidden2{
    display: block;
  }
  .ww{
    height: 900px;
  }
  .armhid{
    padding-top: 80px;
  }
  .wwleter{
position: static;
  }
}





















@media(min-width:1050px) and (max-width:1285px){
  .yuki{
    font-size: 150px;
  }
  .yfa {
    width: 1000px;
  }
}





@media(max-width:2560px){

  .htppic {
    width: 755px;
    margin-top: 110px;
    margin-left: 15%;
  }
  .bcbig {
    margin-top: 18%;
}
}
@media(max-width:1670px){
  .htppic {
    width: 680px;
    margin-top: 125px;
    margin-left: 13.5%;
  }
}
@media (max-width:1500px){
    .htprules {
        margin-left: 10%;
    }
    .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
        font-size: 16px;
        color: #00264d;
    }
    .htppic {
        width: 650px;
        height: 550px;
        margin-left: 0%;
        margin-top: 20%;
    }
}
@media (max-width:1380px) {
    .aboutbgp {
        width: 481px;
        margin: 80px 0px 0px 20px;
    }
    .htprules {
        margin-left: 10%;
    }
    /* .aboutpic {
        width: 50%;
    } */
    .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
        font-size: 16px;
        color: #00264d;
    }
    .htppic {
      width: 550px;
      height: 550px;
      margin-left: 0%;
      margin-top: 22%;
  }
}
@media (max-width:1280px){
    .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
        font-size: 15px;
        color: #00264d;
    }
    .htppic {
        width: 500px;
        height: 500px;
        margin-left: 15%;
    }
    .htprules {
        margin-left: 5%;
    }
}
@media (max-width:1250px){
    .aboutbgp {
        width: 481px;
        margin: 60px 0px 0px 10px; 
    }
    .htprules {
        margin-left: 5%;
        width: 475px;
    }
    /* .aboutpic {
        width: 50%;
    } */
    .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
        font-size: 17px;
        color: #00264d;
    }
    .htppic {
        width: 490px;
        height: 600px;
        margin-left: 20%;
    }
}
@media (max-width: 1174px){
  .aboutbgp {
    width: 481px;
    margin: 60px 0px 0px 10px; 
  }
  .htprules {
    margin-left: 3%;
    width: 450px;
  }
  /* .aboutpic {
    width: 50%;
  } */
  .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
    font-size: 17px;
    color: #00264d;
  }
  .htppic {
    width: 470px;
    height: 560px;
    margin-left: 20%;
    margin-top: 120px;
}

  }

@media (max-width: 1100px){
  .aboutbgp {
    width: 481px;
    margin: 60px 0px 0px 10px; 
  }
  .htprules {
    margin-left: 3%;
    width: 450px;
  }
  /* .aboutpic {
    width: 50%;
  } */
  .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
    font-size: 15px;
    color: #00264d;
  }
  .htppic {
    width: 420px;
    height: 480px;
    margin-left: 20%;
    margin-top: 170px;
  }
}
@media (max-width: 1000px){
  .aboutbgp {
    width: 40vw;
    margin: 60px 0px 0px 10px; 
  }
  .htprules {
    margin-left: 3%;
    width: 450px;
  }
  /* .aboutpic {
    width: 50%;
  } */
  .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
    font-size: 15px;
    color: #00264d;
    /* width: 42vw; */
    margin-right: 0%;
  }
  .bcbig{
    width: 100%;
  }
  .htppic {
    width: 380px;
    height: 420px;
    margin-left: 7vw;
    margin-top: 170px;
  }
}
/* ////////// */
@media (max-width: 950px){
  .aboutbgp {
    width: 40vw;
    margin: 60px 0px 0px 10px; 
  }
  .htprules {
    margin-left: 3%;
    width: 450px;
    margin-top: 15vw;
  }
  /* .aboutpic {
    width: 50%;
  } */
  .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
    font-size: 16px;
    color: #00264d;
    margin-right: 0%;
  }
  .bcbig{
    width: 100%;
    margin-top: -20%;
    margin-left: 18vw;
  }
  .htppic {
    width: 470px;
    height: 450px;
    margin-left: 21vw;
    margin-top: 60px;
    /* margin-bottom: 1000px; */
  }
  .htpall {
    /* width: 100%; */
    height: 1120px;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    margin-bottom: 100;
}
}
@media (max-width: 800px){
  .aboutbgp {
    width: 40vw;
    margin: 60px 0px 0px 10px; 
  }
  .htprules {
    margin-left: 3%;
    width: 450px;
    margin-top: 40vw;
  }
  .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
    font-size: 16px;
    color: #00264d;
    margin-right: 0%;
  }
  .bcbig{
    width: 100%;
    margin-top: -70%;
    margin-left: 10vw;
  }
  .htppic {
    width: 420px;
    height: 450px;
    margin-left: 22vw;
    margin-top: 60px;

  }
  .htpall {
    width: 100%;
    height: 1100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 568px) and (min-width: 320px){

  .bcbig {
    margin-left: 50%; 
    margin-right: 0%;
    margin-top: -120%; 
    width: 400px;
  }
  .htppic {
    margin-bottom: 4%;
    width: 322px;
    margin-left: 12vw;
    margin-top: 15px;

  }
  .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
    font-size: 15px;
  }
  .rulestext {
    width: 300px;
    margin-left: 3%;
    margin-right: 1%;
}
.bcc{
  margin-right: 0px;
}
.bcp, .bcs{
  margin-right: 30px;
}
.htprules {
    width: 300px;
}
}
@media (max-width: 568px){
  .bcbig {
    margin-left: 20%;
  }
   .htppic {
    margin-top: 50px;
    margin-left: 5vw;
    width: 500px;
    /* height: 300px; */
  }
}

@media (max-width: 568px){
  .bcbig {
    margin-top: -280px;
    margin-left: 20%;
  }
   .htppic {
    margin-top: 50px;
    margin-left: 2vw;
    width: 500px;
    /* height: 300px; */
  }
  .htpall{
    height: 1050px;
  }
}

@media (max-width: 511px){
  .bcbig {
    margin-top: -220px;
    margin-left: 0%;
    width: 300px;
  }
   .htppic {
    margin-top: 50px;
    margin-left: 2vw;
    width: 300px;
    height: 300px;
  }
  .htpall{
    height: 910px;
  }
}

/* ****************************** */
/* ****************************** */

@media (min-width:1450px) and (max-width:1924px){
  .pic1, .pic2, .pic3{
    width: 280px;
    height: 280px;
    margin-left: 0;
  }
  .lc, .wc, .ec, .ecc {
    width: 23%;
    display: inline-block;
}
  .lc{
    margin-left: 5vw;
  }
  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 280px;
    height: 280px;
    padding: 15px 15px 15px 15px;
  }
  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 260px;
    height: 260px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 18px;
    color: #00264d;
    text-align: center;
  }
}
@media (min-width:1250px) and (max-width:1450px){
  .pic1, .pic2, .pic3{
    width: 250px;
    height: 250px;
    margin-left: 30px;
  }
  .lc, .wc, .ec, .ecc {
    width: 22%;
    display: inline-block;
}
  .lc{
    margin-left: 5vw;
  }
  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 250px;
    height: 250px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 17px;
    color: #00264d;
    text-align: center;
  }
}
@media (min-width:1050px) and (max-width:1250px){
  .pic1, .pic2, .pic3{
    width: 220px;
    height: 220px;
    margin-left: 40px;
  }
  .lc, .wc, .ec, .ecc {
    width: 22%;
    display: inline-block;
}
  .lc{
    margin-left: 2vw;
  }
  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 220px;
    height: 220px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 15px;
    color: #00264d;
    text-align: center;
  }
}
@media (min-width:951px) and (max-width:1050px){
  .pic1, .pic2, .pic3{
    width: 180px;
    height: 180px;
    margin-left: 50px;
  }
  .lc, .wc, .ec, .ecc {
    width: 22%;
    display: inline-block;
    margin-right: 15px;
}
  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 180px;
    height: 180px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 14px;
    color: #00264d;
    text-align: center;
    /* float: left; */
    /* margin-right: 30px; */
    width: 184px;
    margin-left: 4vw;
  }
  .texttext{
    width: 240px;
  }
}
@media (min-width:750px) and (max-width:950px){
  .pic1, .pic2, .pic3{
    width: 150px;
    height: 150px;
    margin-left: 60px;
  }
  .lc, .wc, .ec, .ecc {
    width: 21%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
  .lc{
    margin-left: 0vw;
  }
  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 150px;
    height: 150px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 12px;
    color: #00264d;
    /* float: left; */
    text-align: center;
    width: 180px;
    margin-left: 4vw;
  }
  .texttext{
    width: 210px;
  }
}
@media (min-width:600px) and (max-width:750px){
  .pic1, .pic2, .pic3{
    width: 130px;
    height: 130px;
    margin-left: 30px;
  }
  .lc, .wc, .ec, .ecc {
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}
  .lc{
    margin-left: 0vw;
  }
  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 130px;
    height: 130px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 12px;
    color: #00264d;
    /* float: left; */
    text-align: center;
    width: 105px;
    margin-left: 4vw;
  }
  .texttext{
    width: 150px;
  }
}
@media (min-width:480px) and (max-width:600px){
  .pic1, .pic2, .pic3{
    width: 170px;
    height: 170px;
    margin-left: 30px;
  }
  .lc, .wc, .ec, .ecc {
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}
  .lc{
    margin-left: 8vw;
    margin-right: 90px;
  }
  .ec{
    margin-right: 15vw;
  }
  .wc{
    margin-top: 25px;
    margin-left: 8vw;
    margin-right: 100px;
  }
  .ecc{
    margin-top: 25px;
    margin-right: 15vw;
  }

  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 170px;
    height: 170px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 12px;
    color: #00264d;
    /* float: left; */
    text-align: center;
    width: 158px;
    margin-left: 4vw;
  }
  .texttext{
    width: 200px;
  }
}
@media (min-width:400px) and (max-width:480px){
  .pic1, .pic2, .pic3{
    width: 150px;
    height: 150px;
    margin-left: 30px;
  }
  .lc, .wc, .ec, .ecc {
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}
  .lc{
    margin-left: 3vw;
    margin-right: 90px;
  }
  .ec{
    margin-right: 15vw;
  }
  .wc{
    margin-top: 25px;
    margin-left: 3vw;
    margin-right: 100px;
  }
  .ecc{
    margin-top: 25px;
    margin-right: 15vw;
  }

  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 150px;
    height: 150px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 12px;
    color: #00264d;
    /* float: left; */
    text-align: center;
    width: 158px;
    margin-left: 4vw;
  }
  .texttext{
    width: 170px;
  }
}
@media (min-width:370px) and (max-width:400px){
  .pic1, .pic2, .pic3{
    width: 150px;
    height: 150px;
    margin-left: 30px;
  }
  .lc, .wc, .ec, .ecc {
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}
  .lc{
    margin-right: 90px;
  }
  .ec{
    margin-right: 15vw;
  }
  .wc{
    margin-top: 25px;
    margin-right: 90px;
  }
  .ecc{
    margin-top: 25px;
    margin-right: 15vw;
  }

  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 150px;
    height: 150px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 12px;
    color: #00264d;
    text-align: center;
    width: 158px;
    margin-left: 4vw;
  }
  .texttext{
    width: 150px;
  }
}
@media (min-width:320px) and (max-width:370px){
  .pic1, .pic2, .pic3{
    width: 130px;
    height: 130px;
    margin-left: 20px;
  }
  .lc, .wc, .ec, .ecc {
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}
  .lc{
    margin-right: 90px;
  }
  .ec{
    margin-right: 15vw;
  }
  .wc{
    margin-top: 25px;
    margin-right: 90px;
  }
  .ecc{
    margin-top: 25px;
    margin-right: 15vw;
  }

  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 130px;
    height: 130px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 12px;
    color: #00264d;
    text-align: center;
    width: 105px;
    margin-left: 4vw;
  }
  .texttext{
    width: 120px;
  }
}



/* ============================== */
/* ============================== */

 @media (min-width:1730px) and (max-width:1924px){
  .abouthill {
    position: absolute;
    margin-top: -270px;
  }
  .aboutbgp{
    width: 42.5%;
    float: left;
    margin: 50px 0px 0px 50px;
  }
  .aboutk1 {
    bottom: 5.1vw;
  }
  .aboutk2{
    bottom: 9.2vw;
  }
  .aboutk3{
    bottom: 10vw;
  }
  .aboutk4{
    bottom: 12.8vw;
  }
  .hilla1{
    position: absolute;
    bottom: 6.3vw;
    left: 13vw;
  }
  .hilla2{
    position: absolute;
    bottom: 10.3vw;
    left: 34vw;
  }
  .hilla3{
    position: absolute;
    bottom: 11.2vw;
    left: 60vw;
  }
  .hilla4{
    position: absolute;
    bottom: 13.8vw;
    left: 71.5vw;
  }
}

@media (min-width:1510px) and (max-width:1730px){
  .abouthill {
    position: absolute;
    margin-top: -230px;
  }
  .aboutbgp{
    width: 41%;
    float: left;
    margin: 50px 0px 0px 50px;
  }
  .abouta{
    float: right;
    margin-top: 150px;
    margin-right: 120px;
  }
  .aboutk1 {
    bottom: 5.3vw;
  }
  .aboutk2{
    bottom: 9.3vw;
  }
  .aboutk3{
    bottom: 10.2vw;
  }
  .aboutk4{
    bottom: 12.9vw;
  }
  .hilla1{
    position: absolute;
    bottom: 6.3vw;
    left: 13vw;
  }
  .hilla2{
    position: absolute;
    bottom: 10.3vw;
    left: 34vw;
  }
  .hilla3{
    position: absolute;
    bottom: 11.2vw;
    left: 60vw;
  }
  .hilla4{
    position: absolute;
    bottom: 13.8vw;
    left: 71.5vw;
  }
}

@media (min-width:1410px) and (max-width:1510px){
  .abouthill {
    position: absolute;
    margin-top: -220px;
  }
  .aboutbgp{
    width: 40%;
    float: left;
    margin: 50px 0px 0px 50px;
  }
  .abouta{
    float: right;
    margin-top: 100px;
    margin-right: 120px;
  }
  .aboutk1 {
    bottom: 5.3vw;
  }
  .aboutk2{
    bottom: 9.3vw;
  }
  .aboutk3{
    bottom: 10.2vw;
  }
  .aboutk4{
    bottom: 12.9vw;
  }
  .hilla1{
    position: absolute;
    bottom: 6.3vw;
    left: 13vw;
  }
  .hilla2{
    position: absolute;
    bottom: 10.3vw;
    left: 34vw;
  }
  .hilla3{
    position: absolute;
    bottom: 11.2vw;
    left: 60vw;
  }
  .hilla4{
    position: absolute;
    bottom: 13.8vw;
    left: 71.5vw;
  }
}

@media (min-width:1310px) and (max-width:1410px){
  .abouthill {
    position: absolute;
    margin-top: -210px;
  }
  .aboutbgp{
    width: 39%;
    float: left;
    margin: 50px 0px 0px 50px;
  }
  .abouta{
    float: right;
    margin-top: 50px;
    margin-right: 120px;
  }
  .aboutk1 {
    bottom: 5.3vw;
  }
  .aboutk2{
    bottom: 9.5vw;
  }
  .aboutk3{
    bottom: 10.3vw;
  }
  .aboutk4{
    bottom: 13vw;
  }
  .hilla1{
    position: absolute;
    bottom: 6.3vw;
    left: 13vw;
  }
  .hilla2{
    position: absolute;
    bottom: 10.3vw;
    left: 34vw;
  }
  .hilla3{
    position: absolute;
    bottom: 11.2vw;
    left: 60vw;
  }
  .hilla4{
    position: absolute;
    bottom: 13.8vw;
    left: 71.5vw;
  }
}

@media (min-width:1150px) and (max-width:1310px){
  .abouthill {
    position: absolute;
    margin-top: -180px;
  }
  .aboutbgp{
    width: 38%;
    float: left;
    margin: 50px 0px 0px 50px;
  }
  .abouta{
    float: right;
    margin-top: 10px;
    margin-right: 120px;
  }
  .aboutk1 {
    bottom: 5.5vw;
  }
  .aboutk2{
    bottom: 9.5vw;
  }
  .aboutk3{
    bottom: 10.3vw;
  }
  .aboutk4{
    bottom: 13vw;
  }
  .hilla1{
    position: absolute;
    bottom: 6.8vw;
    left: 11vw;
  }
  .hilla2{
    position: absolute;
    bottom: 10.8vw;
    left: 34vw;
  }
  .hilla3{
    position: absolute;
    bottom: 11.7vw;
    left: 58vw;
  }
  .hilla4{
    position: absolute;
    bottom: 14.3vw;
    left: 71.5vw;
  }
}

@media (min-width:1050px) and (max-width:1150px){
  .abouthill {
    position: absolute;
    margin-top: -160px;
  }
  .aboutbgp{
    width: 39%;
    float: left;
    margin: 20px 0px 0px 20px;
  }
  .abouta{
    float: right;
    margin-top: 10px;
    margin-right: 280px;
  }
  .aboutp{
    font-size: 16px;
    color: #00264d;
  }
  .aboutk1 {
    bottom: 5.8vw;
  }
  .aboutk2{
    bottom: 9.8vw;
  }
  .aboutk3{
    bottom: 10.3vw;
  }
  .aboutk4{
    bottom: 13.3vw;
  }
  .hilla1{
    position: absolute;
    bottom: 7.2vw;
    left: 11vw;
  }
  .hilla2{
    position: absolute;
    bottom: 11vw;
    left: 34vw;
  }
  .hilla3{
    position: absolute;
    bottom: 12vw;
    left: 57vw;
  }
  .hilla4{
    position: absolute;
    bottom: 14.5vw;
    left: 71.5vw;
  }
}

@media (min-width:950px) and (max-width:1050px){
  .abouthill {
    position: absolute;
    margin-top: -200px;
  }
  .aboutbgp{
    width: 78%;
    float: left;
    margin: 50px 0px 0px -90vw;
  }
  .abouta{
    float: right;
    margin-top: 15px;
    margin-right: 180px;
  }
  .aboutp{
    font-size: 20px;
    color: #00264d;
  }
  .aboutpic{
    margin-top: 375px;
    width: 800px;
    margin-left: 10%;
    margin-right: 10%;

  }
  .aboutav{
    position: absolute;
    right: 15vw;
    margin-top: -870px;
  }
  .aboutbg{
    width: 100%;
    height: 1175px;
    background-image: url("../img/aboutbg.png");
    background-size: 100% 100% ;
  }
  .aboutk1 {
    bottom: 5.8vw;
  }
  .aboutk2{
    bottom: 9.8vw;
  }
  .aboutk3{
    bottom: 10.6vw;
  }
  .aboutk4{
    bottom: 13.4vw;
  }
  .hilla1{
    position: absolute;
    bottom: 7.2vw;
    left: 11vw;
  }
  .hilla2{
    position: absolute;
    bottom: 11vw;
    left: 34vw;
  }
  .hilla3{
    position: absolute;
    bottom: 12vw;
    left: 57vw;
  }
  .hilla4{
    position: absolute;
    bottom: 14.5vw;
    left: 71.5vw;
  }
}

@media (min-width:901px) and (max-width:950px){
  .abouthill {
    position: absolute;
    margin-top: -200px;
  }
  .aboutbgp{
    width: 78%;
    float: left;
    margin: 50px 0px 0px -95vw;
  }
  .abouta{
    float: right;
    margin-top: 15px;
    margin-right: 180px;
  }
  .aboutp{
    font-size: 20px;
    color: #00264d;
  }
  .aboutpic{
    margin-top: 375px;
    width: 800px;
    margin-left: 6%;
    margin-right: 10%;

  }
  .aboutav{
    position: absolute;
    right: 15vw;
    margin-top: -850px;
  }
  .aboutbg{
    width: 100%;
    height: 1175px;
    background-image: url("../img/aboutbg.png");
    background-size: 100% 100% ;
  }
  .aboutk1 {
    bottom: 6vw;
  }
  .aboutk2{
    bottom: 10vw;
  }
  .aboutk3{
    bottom: 10.5vw;
  }
  .aboutk4{
    bottom: 13.3vw;
  }
  .hilla1{
    position: absolute;
    bottom: 7.8vw;
    left: 10vw;
  }
  .hilla2{
    position: absolute;
    bottom: 12vw;
    left: 34vw;
  }
  .hilla3{
    position: absolute;
    bottom: 13vw;
    left: 57vw;
  }
  .hilla4{
    position: absolute;
    bottom: 15.5vw;
    left: 71.5vw;
  }
}

@media (min-width:840px) and (max-width:900px){
  .htpall{
    height: 1250px;
  }
}

@media (min-width:800px) and (max-width:840px){
  .htpall{
    height: 1200px;
  }
}

@media (min-width:700px) and (max-width:800px){
  .htpall{
    height: 1100px;
  }
  .bcbig{
    margin-top: -300px;
  }
}

@media (min-width:760px) and (max-width:900px){
  .abouthill {
    position: absolute;
    margin-top: -200px;
  }
  .aboutbgp{
    width: 78%;
    float: left;
    margin: 50px 0px 0px -95vw;
  }
  .abouta{
    float: right;
    margin-top: 15px;
    margin-right: 180px;
  }
  .aboutp{
    font-size: 20px;
    color: #00264d;
  }
  .aboutpic{
    margin-top: 430px;
     width: 100%;
    height: 99.9vw;
  }
  .aboutav{
    position: absolute;
    right: 15vw;
    margin-top: -940px;
  }
  @media (min-width:800px) and (max-width:840px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -880px;
    }
  }
  @media (min-width:760px) and (max-width:800px){
    
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -825px;
    }
  }

  .aboutbg{
    width: 100%;
    height: 1175px;
    background-image: url("../img/aboutbg.png");
    background-size: 100% 100% ;
  }
  .aboutk1 {
    bottom: 6.4vw;
  }
  .aboutk2{
    bottom: 10.4vw;
  }
  .aboutk3{
    bottom: 10.8vw;
  }
  .aboutk4{
    bottom: 13.6vw;
  }
  .hilla1{
    position: absolute;
    bottom: 8.3vw;
    left: 8vw;
  }
  .hilla2{
    position: absolute;
    bottom: 12vw;
    left: 32vw;
  }
  .hilla3{
    position: absolute;
    bottom: 13vw;
    left: 55vw;
  }
  .hilla4{
    position: absolute;
    bottom: 15.5vw;
    left: 71vw;
  }

}

@media (min-width:601px) and (max-width:760px){
  .abouthill {
    position: absolute;
    margin-top: -140px;
  }
  .aboutbgp{
    width: 78%;
    float: left;
    margin: 50px 0px 0px -93vw;
  }
  .abouta{
    float: right;
    margin-top: 15px;
    margin-right: 180px;
  }
  .aboutp{
    font-size: 20px;
    color: #00264d;
  }
  .aboutpic{
    margin-top: 530px;
     width: 100%;
    height: 98.1vw;
    margin-bottom: 50px;
  }
  .aboutav{
    position: absolute;
    right: 15vw;
    margin-top: -860px;
  }
  @media (min-width:630px) and (max-width:680px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -780px;
    }
  }
  @media (min-width:601px) and (max-width:630px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -720px;
    }
  }
  .aboutbg{
    width: 100%;
    height: 1100px;
    background-image: url("../img/aboutbg.png");
    background-size: 100% 100% ;
  }
  .aboutk1 {
    bottom: 7vw;
  }
  .aboutk2{
    bottom: 11vw;
  }
  .aboutk3{
    bottom: 10.8vw;
  }
  .aboutk4{
    bottom: 14vw;
    left: 72.2vw;
  }
  .hilla1{
    position: absolute;
    bottom: 10vw;
    left: 8vw;
  }
  .hilla2{
    position: absolute;
    bottom: 14vw;
    left: 30vw;
  }
  .hilla3{
    position: absolute;
    bottom: 14vw;
    left: 52vw;
  }
  .hilla4{
    position: absolute;
    bottom: 17vw;
    left: 71vw;
  }
}
@media (min-width:480px) and (max-width:600px){
  .abouthill {
    position: absolute;
    margin-top: -90px;
  }
  .aboutbgp{
    width: 78%;
    float: left;
    margin: 50px 0px 0px -93vw;
  }
  .abouta{
    float: right;
    margin-top: 15px;
    margin-right: 180px;
  }
  .aboutp{
    font-size: 20px;
    color: #00264d;
  }
  .aboutpic{
    margin-top: 610px;
     width: 100%;
    height: 99.8vw;
    margin-bottom: 100px;
  }
  .aboutav{
    position: absolute;
    right: 15vw;
    margin-top: -750px;
  }
  @media (min-width:500px) and (max-width:549px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -695px;
    }
  }
  @media (min-width:480px) and (max-width:500px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -640px;
    }
  }
  .aboutbg{
    width: 100%;
    height: 1050px;
    background-image: url("../img/aboutbg.png");
    background-size: 100% 100% ;
  }
  .aboutk1 {
    bottom: 7.6vw;
  }
  .aboutk2{
    bottom: 11.5vw;
  }
  .aboutk3{
    bottom: 11.5vw;
  }
  .aboutk4{
    bottom: 15vw;
    left: 72vw;
  }
  .hilla1{
    position: absolute;
    bottom: 2vw;
    left: 8vw;
  }
  .hilla2{
    position: absolute;
    bottom: 14vw;
    left: 30vw;
  }
  .hilla3{
    position: absolute;
    bottom: 7vw;
    left: 55vw;
  }
  .hilla4{
    position: absolute;
    bottom: 19vw;
    left: 68vw;
  }
}

@media (min-width:400px) and (max-width:480px){
  .abouthill {
    position: absolute;
    margin-top: -90px;
  }
  .aboutbgp{
    width: 72%;
    float: left;
    margin: 50px 0px 0px -93vw;
  }
  .abouta{
    float: right;
    margin-top: 15px;
    margin-right: 180px;
  }
  .aboutp{
    font-size: 17px;
    color: #00264d;
  }
  .aboutpic{
    margin-top: 610px;
    width: 100%;
    height: 99.8vw;
    margin-bottom: 100px;
  }
  .aboutav{
    position: absolute;
    right: 15vw;
    margin-top: -635px;
  }
  @media (min-width:400px) and (max-width:428px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -580px;
    }
  }
  .aboutbg{
    width: 100%;
    height: 1000px;
    background-image: url("../img/aboutbg.png");
    background-size: 100% 100% ;
  }
  .aboutk1 {
    bottom: 8.5vw;
  }
  .aboutk2{
    bottom: 12vw;
  }
  .aboutk3{
    bottom: 12vw;
  }
  .aboutk4{
    bottom: 15vw;
    left: 71vw;
  }
  .hilla1{
    position: absolute;
    bottom: 2vw;
    left: 8vw;
  }
  .hilla2{
    position: absolute;
    bottom: 15vw;
    left: 30vw;
  }
  .hilla3{
    position: absolute;
    bottom: 7vw;
    left: 55vw;
  }
  .hilla4{
    position: absolute;
    bottom: 18vw;
    left: 68vw;
  }
}

@media (min-width:320px) and (max-width:400px){
  .abouthill {
    position: absolute;
    margin-top: -40px;
  }
  .aboutbgp{
    width: 72%;
    float: left;
    margin: 50px 0px 0px -93vw;
  }
  .abouta{
    float: right;
    margin-top: 15px;
    margin-right: 180px;
  }
  .aboutp{
    font-size: 17px;
    color: #00264d;
  }
  .aboutpic{
    margin-top: 730px;
    width: 100%;
    height: 99.8vw;
    margin-bottom: 100px;
  }
  .aboutav{
    position: absolute;
    right: 15vw;
    margin-top: -570px;
  }
  @media (min-width:320px) and (max-width:356px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -500px;
    }
  }
  @media (min-width:320px) and (max-width:332px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -468px;
    }
  } 
  .aboutbg{
    width: 100%;
    height: 1000px;
    background-image: url("../img/aboutbg.png");
    background-size: 100% 100% ;
  }
  .aboutk1 {
    bottom: 9.5vw;
  }
  .aboutk2{
    bottom: 13vw;
  }
  .aboutk3{
    bottom: 13.2vw;
  }
  .aboutk4{
    bottom: 16.5vw;
    left: 73vw;
  }
  .hilla1{
    position: absolute;
    bottom: 2vw;
    left: 5vw;
  }
  .hilla2{
    position: absolute;
    bottom: 17vw;
    left: 25vw;
  }
  .hilla3{
    position: absolute;
    bottom: 7vw;
    left: 55vw;
  }
  .hilla4{
    position: absolute;
    bottom: 23vw;
    left: 61vw;
  }
} 


@media (min-width: 1100px) and (max-width: 1193px){
  .sevan {
    /* width: 11%; */
    margin-left: 100px;
  }
}

@media (min-width: 990px) and (max-width: 994px){
  .sevan {
    /* width: 11%; */
    margin-left: 70px;
  }
}

@media (min-width: 480px) and (max-width: 484px){
  .sevan {
    /* width: 11%; */
    margin-left: 40px;
  }
}

/* ============================== */
/* ============================== */


@media(max-width:1100px){
.section1 {/*
    height: 80vh;*/
    background: url(../img/champion.png) no-repeat center top / cover;
    margin-top: -70px;
}
}

@media(max-width:600px){
  .section1 {/*
    height: 100vh;*/
    background: url(../img/champion.png) no-repeat center top / cover;
    margin-top: -70px;
}
}

@media(max-width:750px){
.part {
    margin-top: 220px;
    margin-top: 28vh;
}
}

@media(min-width:1515px) and (max-width:1532px){
  .sevan {
    /* width: 11%; */
    margin-left: 30px;
  }
}

@media(max-width: 1300px){
  .generals {
    float: left;
    margin-right: 150px;
}
.gsdiv {
    margin: 0 auto;
    width: 953px;
    margin-top: -100px;
    margin-bottom: 100px;
}
.nova {
    margin-left: 120px;
    width: 18%;
}
.pl {
    width: 40%;
    margin-top: 150px;
}
}
@media(max-width: 1120px){
.gsdiv {
    margin: 0 auto;
    width: 793px;
    margin-top: -100px;
    margin-bottom: 100px;
}
}
@media(max-width: 970px){
.gsdiv {
    margin: 0 auto;
    width: 632px;
    margin-top: -50px;
    margin-bottom: 100px;
}
.nova {
    margin-left: 78px;
    width: 18%;
}
.para{
  margin-left: 73px;
}
}
@media(max-width: 670px){
.generals {
    float: left;
    margin-right: 70px;
}
.gsdiv {
    margin: 0 auto;
    width: 552px;
    margin-top: -50px;
    margin-bottom: 100px;
}
}

@media(max-width: 575px){
.hospitals {
    display: inline-block;
    margin-top: 10vh;
}
.part {
    margin-top: 220px;
    margin-top: 0vh;
}
.nova {
    margin-left: 67px;
    width:44%;
}
.generals {
    margin-left: 2vh;
    margin-right: 0px;
  }
  .pl {
    width: 40%;
    margin-top: 85px;
}
.gsdiv {
    margin: 0 auto;
    width: 262px;
    margin-top: -50px;
    margin-bottom: 100px;
}
  }

@media(max-width: 360px){

  .gsp, .hsp, .partp {
    font-size: 25px;
}
.gsdiv {
    margin: 0 auto;
    width: 218px;
    margin-top: -50px;
    margin-bottom: 100px;
}
.para {
    margin-left: 59px;
}
.nova {
    margin-left: 51px;
    width: 50%;
}
.partp {
    width: 95px;
}
}

/* ======================================== */

@media(min-width:1600px) and (max-width:1924px){
  .modal-content img{
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
  }

  #myModal1 .ddd,  #myModal2 .ddd,  #myModal3 .ddd, #myModal4 .ddd{
    margin-top: 0px;
  }
  .someTextIM1, .someTextIM2, .someTextIM3, .someTextIM4 {
    margin-top: 27vw;
    margin-left: 26vw;
  }
  .someTextIM2, .someTextIM3, .someTextIM4{
    background: #000000d4;
    color: white;
  }
}


@media(min-width:1300px) and (max-width:1600px){
  .modal-content img{
    margin-top: 12%;
    margin-left: 10px;
    width: 100%;
  }
  #myModal1 .ddd,  #myModal2 .ddd,  #myModal3 .ddd, #myModal4 .ddd{
    margin-top: 100px;
  }
  .someTextIM2{
    background: #000000d4;
    color: white;
    margin-top: 457px;
    width: 40%;
  }
  .someTextIM3{
    margin-top: 435px;
    width: 31%;
  }
  .someTextIM4{
    margin-top: 509px;
    width: 40%;
  }
}


@media(max-width:1300px){
  .modal-content{
    width: 82%;
    margin-left: 100px;
  }
  .modal-content img{
    margin-top: 10%;
    margin-left: 10px;
    width: 100%;
  }
  .someTextIM1, .someTextIM2, .someTextIM3, .someTextIM4 {
    margin-top: 45vw;
    margin-left: 42vw;
  }

  #myModal1 .ddd,  #myModal2 .ddd,  #myModal3 .ddd, #myModal4 .ddd{
    margin-top: 80px;
    margin-left: 90%;
  }

  .someTextIM2, .someTextIM3{
    background: #000000d4;
    color: white;
    margin-top: 510px;
    width: 40%;
  }
  .someTextIM4{
    margin-top: 583px;
    width: 40%;
  }
}

@media(max-width:1100px){
  .modal-content{
    width: 95%;
    margin-left: 10px;
  }
  .modal-content img{
    margin-top: 10%;
    margin-left: 10px;
    width: 100%;
  }
  .someTextIM1, .someTextIM2, .someTextIM3, .someTextIM4 {
    margin-top: 50vw;
    margin-left: 50vw;
  }

  #myModal1 .ddd,  #myModal2 .ddd,  #myModal3 .ddd, #myModal4 .ddd{
    margin-top: 70px;
    margin-left: 96%;
  }

  .someTextIM2, .someTextIM3, .someTextIM4{
    background: #000000d4;
    color: white;
    margin-top: 591px;
    width: 91%;
    margin-left: 3%;
  }
  .someTextIM4{
    width: 44%;
  }
}


@media(min-width:801px) and (max-width:970px){
  .someTextIM2, .someTextIM3, .someTextIM4{
    background: #000000d4;
    color: white;
    margin-top: 73%;
    width: 77%;
    margin-left: 1%;
  }

}


@media(max-width:800px){
  .modal-content{
    width: 94%;
    /* margin-left: 0px; */
  }
  .modal-content img{
    margin-top: 100px;
    margin-left: 10px;
    width: 100%;
  }
  .someTextIM1, .someTextIM2, .someTextIM3, .someTextIM4 {
    margin-top: 76vw;
    margin-left: 1.4vw;
    width: 94%;
    font-size: 25px;
  }

  #myModal1 .ddd,  #myModal2 .ddd,  #myModal3 .ddd, #myModal4 .ddd{
    margin-top: 7%;
    margin-left: 45%;
  }
}

@media(max-width:540px){
  .modal-content{
    width: 92%;
  }
  .modal-content img{
    margin-top: 100px;
    margin-left: 10px;
    width: 100%;
  }
  .someTextIM1, .someTextIM2, .someTextIM3, .someTextIM4 {
    margin-top: 80vw;
    margin-left: 1.4vw;
    width: 94%;
    font-size: 25px;
  }

  #myModal1 .ddd,  #myModal2 .ddd,  #myModal3 .ddd, #myModal4 .ddd{
    margin-top: 14%;
    margin-left: 44%;
  }
}

/* ======================================== */



@media(min-width:1050px) and (max-width:1285px){
  #umpContainer{
    top: 200px;
  }
}

@media(min-width:770px) and (max-width:1050px){
  #umpContainer{
    top: 142px;
  }
}
@media(min-width:680px) and (max-width:770px){
  #umpContainer{
    top: 120px;
  }
}

@media(min-width:540px) and (max-width:680px){
  #umpContainer{
    top: 127px;
  }
}
@media(min-width:486px) and (max-width:540px){
  #umpContainer{
    top: 116px;
  }
}
@media(min-width:437px) and(max-width:485px){
  #umpContainer{
    top: 10px;
  }
}

@media(min-width:300px) and (max-width:436px){
  #umpContainer{
    top: 98px;
  }
}
